@using MKT.DataAccess.Constants
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-text mx-3">Art Masterclass Apointment<sup>1</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Art Masterclass Appointment Management System
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    @if (User.IsInRole(ROLE.ADMIN) || User.IsInRole(ROLE.MODERATOR))
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminCollapse" aria-expanded="true">
                <i class="fas fa-fw fa-cog"></i>
                <span>Admin</span>
            </a>
            <div id="adminCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Admin:</h6>
                    <a class="collapse-item" asp-controller="Admin" asp-action="Users">Users</a>
                    <a class="collapse-item" asp-controller="Admin" asp-action="Locations">Locations</a>
                </div>
            </div>
        </li>
    
    }

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#announcementCollapse" aria-expanded="true">
            <i class="fas fa-fw fa-bullhorn"></i>
            <span>Announcemnet</span>
        </a>
        <div id="announcementCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Announcements:</h6>
                @if (User.IsInRole(ROLE.ADMIN) || User.IsInRole(ROLE.MODERATOR))
                {
                    <a class="collapse-item" asp-controller="Announcement" asp-action="CreateAnnouncement">Create Announcement</a>
                }
                <a class="collapse-item" asp-controller="Announcement" asp-action="AnnouncementList">Announcements</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tanimCollapse" aria-expanded="true">
            <i class="far fa-fw fa-file-archive"></i>
            <span>Appointment</span>
        </a>
        <div id="tanimCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Appointment:</h6>
                @if (User.IsInRole(ROLE.ADMIN) || User.IsInRole(ROLE.MODERATOR))
                {
                    <a class="collapse-item" asp-controller="Appointment" asp-action="AppointmentDashboard">Appointment Dashboard</a>
                }
                
                <a class="collapse-item" asp-controller="Appointment" asp-action="AppointmentLocationList">Assigned Workshop List</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ticketCollapse" aria-expanded="true">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>Support</span>
        </a>
        <div id="ticketCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Announcements:</h6>
                <a class="collapse-item" asp-controller="Ticket" asp-action="CreateTicket">Create Ticket</a>
                <a class="collapse-item" asp-controller="Ticket" asp-action="Tickets">Ticket List</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->