@model MKT.WebUI.Models.Home.NotificationsViewModel

@{
    ViewBag.Title = "Notifications";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                @foreach (var notification in Model.Notifications)
                {
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div>
                                <img src="/asset/icon/@notification.Icon" width="40">
                            </div>
                            <div class="mr-auto">
                                @notification.Description
                            </div>
                            <div class="text-gray-500">
                                @notification.Date
                            </div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </div>
</div>
